* {
  margin: 2px;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  font-size: 22px;
  border-top: 10px solid #1098ad;
}

.container {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 60px;
}

nav {
  font-size: 16px;
  margin-top: 2px;
}

/* nav a:link {
  background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block;
} */

h1,
h2,
h3,
h4,
p,
li {
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
  /*margin-bottom: 40px;*/
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  /* margin-bottom: 30px; */
}

h3 {
  font-size: 30px;
  /*
  margin-bottom: 10px;
  margin-top: 10px;
  */
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}

/* footer p {
  font-size: 16px;
  text-align: center;
} */

#copyright {
  font-size: 16px;
  text-align: center;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-style: italic;
  font-weight: bold;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-size: 18px;
}

.related {
  list-style: none;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #d4d4d4;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 5px 0px;
  width: 500px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

li:nth-child(even) {
  /* color: red; */
}

/* Style Hyperlinks */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
}
button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.post-img {
  width: 100%;
  height: auto;
}
